.Container{
    display: flex;
    flex-direction: column;
    border: solid 1px white;
    background-color: rgb(76, 139, 199);
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Unlimited{
    background-color: rgb(66, 122, 173);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: aliceblue;
    padding: 10px;

}
.PriceDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 100%;
    box-sizing: border-box;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}
.Rub{
    color: aliceblue;

}
.Price{
    font-size: 30px;
    color: aliceblue;

}
.Month{
    color: aliceblue;
    display: flex;
    align-items: flex-end;
}
.Speed{
    font-size: small;
    color: rgb(77, 77, 77);
    background-color: rgb(238, 237, 237);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.Notes{
    font-size: small;
    color: rgb(77, 77, 77);
    background-color: rgb(221, 221, 221);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.Highlighted{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card-300 {
    background-color: lightseagreen;
    .Unlimited{
        background-color: rgb(22, 122, 117);
    }
}
  
  .card-450 {
    background-color: lightgreen;
    .Unlimited{
        background-color: rgb(114, 190, 114);
    }
  }
  
  .card-550 {
    background-color: palevioletred;
    .Unlimited{
        background-color:  rgb(172, 90, 117);
    }
  }
  
  .card-1000 {
    background-color: gray;
    .Unlimited{
        background-color:  rgb(88, 88, 88);
    }
  }
  